---
import privoLogoImage from '~/assets/images/new/logos/privo-white.png';
import vierallyLogoImage from '~/assets/images/new/logos/vierally-white.png';
import plumcheckLogoImage from '~/assets/images/new/logos/plumcheck-logo.png';
import eversanaLogoImage from '~/assets/images/new/logos/eversana-white.png';
import blankslateLogoImage from '~/assets/images/new/logos/blankslate-white.png';
import mbsLogoImage from '~/assets/images/new/logos/myblueskies-white.png';
import pakiraLogoImage from '~/assets/images/new/logos/pakira-logo.png';
import meeLogoImage from '~/assets/images/new/logos/mee-white.png';
import ArrowRight from '~/assets/images/new/arrow-right.svg';
---

<div class="mx-4 md:mx-20 pb-6 md:pb-8">
  <div
    class="case-studies-logos mt-0 md:mt-20 pt-16 md:pt-20 mb-0.5 pb-8 px-4 gap-y-6 md:gap-y-8 gap-x-8 md:gap-x-20 flex flex-wrap justify-center"
  >
    <img src={privoLogoImage.src} class="h-6 md:h-8" alt="Privo logo" />
    <img src={vierallyLogoImage.src} class="h-6 md:h-8" alt="Vierally logo" />
    <img src={plumcheckLogoImage.src} class="h-6 md:h-8" alt="plumcheck logo" />
    <img src={eversanaLogoImage.src} class="h-6 md:h-8" alt="eversana logo" />
    <img src={meeLogoImage.src} class="h-6 md:h-8" alt="mee logo" />
    <img src={mbsLogoImage.src} class="h-6 md:h-8" alt="mbs logo" />
    <img
      src={blankslateLogoImage.src}
      class="h-6 md:h-8"
      alt="blankslate logo"
    />
    <img src={pakiraLogoImage.src} class="h-6 md:h-8" alt="pakira logo" />
  </div>
  <div class="case-studies-link py-4 md:py-8 flex justify-center">
    <a
      class="text-white cursor-pointer text-xl md:text-xl-desktop hover:opacity-80 p-3"
    >
      View all case studies <ArrowRight
        class="inline-block ml-2.5 w-5 h-5 md:w-7 md:h-7"
      /></a
    >
  </div>
</div>

<style></style>
