---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

export async function getStaticPaths() {
  const vacancies = await getCollection('vacancies');

  return vacancies
    .filter((vacancy) => !vacancy.data.disabled)
    .map((vacancy) => ({
      params: { vacancy: vacancy.id },
      props: { vacancy },
    }));
}

interface Props {
  vacancy: CollectionEntry<'vacancies'>;
}
const { vacancy } = Astro.props;
---

<Layout>
  <div class="container mt-10 text-white">
    <h1 class="mb-5 text-4xl font-medium">{vacancy.data.title}</h1>
    <div class="pt-16 text-lg">
      <ul class="list-disc pl-4">
        <li>{vacancy.data.employment}</li>
        <li>{vacancy.data.location}</li>
      </ul>

      <p class="pt-8">Required skills:</p>
      <ul class="list-disc pl-4">
        {vacancy.data.requiredSkills?.map((skill) => <li>{skill}</li>)}
      </ul>

      <p class="pt-8">Desired skills:</p>
      <ul class="list-disc pl-4">
        {vacancy.data.desiredSkills?.map((skill) => <li>{skill}</li>)}
      </ul>

      <p class="pt-8">We offer:</p>
      <ul class="list-disc pl-4">
        {vacancy.data.offerings?.map((skill) => <li>{skill}</li>)}
      </ul>

      <p class="pt-8">About the project:</p>
      <p class="">
        {vacancy.data.project}
      </p>
    </div>
  </div>
</Layout>
