---
import Button from './Button.astro';
import { NavRoutes } from '~/constants/routes.astro';
import glowBgImage from '~/assets/images/glow.png';
import { Image } from 'astro:assets';

const currentPath = Astro.url.pathname;
const { id } = Astro.props;
---

<div
  id={id}
  class="fixed right-0 top-0 z-[1000] hidden h-[calc(100dvh-96px)] w-full -translate-y-[60%] translate-x-[60%] flex-col overflow-hidden rounded-[50%] bg-surface [will-change:border-radius]"
>
  <Image
    format="webp"
    width={glowBgImage.width}
    height={glowBgImage.height}
    src={glowBgImage}
    class="absolute top-1/3 z-0 h-full w-full"
    alt="glow background"
  />
  <div
    class="relative z-10 flex w-full grow flex-col items-center justify-center gap-7 px-3"
  >
    <a href={NavRoutes.services.path} class="block w-full">
      <div
        class:list={[
          '-mb-1 w-full cursor-pointer whitespace-nowrap rounded-md px-3 py-2 text-center text-xl text-white duration-200 hover:opacity-100 hover:transition-all',
          currentPath === NavRoutes.home.path ||
          currentPath === NavRoutes.services.path
            ? 'opacity-100'
            : 'opacity-60',
        ]}
      >
        {NavRoutes.services.name}
      </div>
    </a>
    <a href={NavRoutes.caseStudies.path} class="block w-full">
      <div
        class:list={[
          '-mb-1 w-full cursor-pointer whitespace-nowrap rounded-md px-3 py-2 text-center text-xl text-white duration-200 hover:opacity-100 hover:transition-all',
          currentPath === NavRoutes.home.path ||
          currentPath === NavRoutes.caseStudies.path
            ? 'opacity-100'
            : 'opacity-60',
        ]}
      >
        {NavRoutes.caseStudies.name}
      </div>
    </a>
    <a href={NavRoutes.careers.path} class="block w-full">
      <div
        class:list={[
          '-mb-1 w-full cursor-pointer whitespace-nowrap rounded-md px-3 py-2 text-center text-xl text-white duration-200 hover:opacity-100 hover:transition-all',
          currentPath === NavRoutes.home.path ||
          currentPath === NavRoutes.careers.path
            ? 'opacity-100'
            : 'opacity-60',
        ]}
      >
        {NavRoutes.careers.name}
      </div>
    </a>
    <a href={NavRoutes.aboutUs.path} class="block w-full">
      <div
        class:list={[
          '-mb-1 w-full cursor-pointer whitespace-nowrap rounded-md px-3 py-2 text-center text-xl text-white duration-200 hover:opacity-100 hover:transition-all',
          currentPath === NavRoutes.home.path ||
          currentPath === NavRoutes.aboutUs.path
            ? 'opacity-100'
            : 'opacity-60',
        ]}
      >
        {NavRoutes.aboutUs.name}
      </div>
    </a>
  </div>
  <div class="z-10 flex justify-center px-3 py-4">
    <a class="w-full max-w-[350px]" href="index.html#footer">
      <Button classes="h-[58px] w-full text-xl rounded-2lg">Work with us</Button
      >
    </a>
  </div>
</div>

<style></style>
